
body, html{
    
    font-family: 'Julius Sans One', sans-serif;

}

a :link{
	color:none!important;
	
}

a:visited{
    color:rgb(57, 196, 57);
}

a:hover{
    color:rgb(69, 246, 69);
    text-decoration: none;
}

a:active{
    color:none!important;
}

a{
    color:rgb(57, 196, 57);
    text-decoration: none;
}


#submission-form{
    margin:auto;
    width:50%;
}


