
body, html{
    
    font-family: 'Julius Sans One', sans-serif;

}

a :link{
	color:none!important;
	
}

a:visited{
    color:rgb(57, 196, 57);
}

a:hover{
    color:rgb(69, 246, 69);
    text-decoration: none;
}

a:active{
    color:none!important;
}

a{
    color:rgb(57, 196, 57);
    text-decoration: none;
}



.dropdown-toggle{
    width:100%;
}

.dropdown-toggle:hover {
    color:rgb(57, 196, 57);
  }

.dropdown-item {
  text-align: center;
    
}

.dropdown-item:hover {
    color:rgb(57, 196, 57);
  }

.dropdown-menu{
    width:100%;
    margin: auto;

}
